<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
   Travel Planner
  </div>
  <div class="destinationSection">
    <label class="label-destination" for="input-destination">My trip to:</label>
    <input type="text" id="input-destination" name="input-destination" placeholder="Enter Destination">
  </div>

  <div class="dateSection">

    <div class="start-date">
        <label class="label-start-date" for="input-start-date">Start:</label>
        <input type="date" id="input-start-date" name="departing">
    </div>

    <div class="end-date">
        <label class="label-end-date" for="input-end-date">End:</label>
        <input type="date" id="input-end-date" name="returning">
    </div>

  </div>
    <button id="generate" type = "submit"> Generate </button>
  </div>

  <div id="img-div">
    <img id="img" alt="">

  </div>

  <div id="result-div">

  </div>
  
  </div>
  </div>
<script src="app.js"></script>

</body>
</html>