// body {
//   margin: 0;
//   font-family: "Montserrat", sans-serif;

//   // ----------------------------------------
//   // 0.1) Imgs
//   // ----------------------------------------
//   img {
//     width: 100%;
//     height: 300px;
//     object-fit: cover;
//     border-bottom: 1px solid black;
//   }

//   // ----------------------------------------
//   // 0.2) References
//   // ----------------------------------------
//   a {
//     text-decoration: none;
//     color: inherit;
//   }
// }

// header {
//   h1 {
//     text-align: center;
//     letter-spacing: normal;
//     transition: letter-spacing 0.5s;

//     &:hover {
//       color: #1a8b1d;
//       letter-spacing: 7px;
//       transition: 0.5s;
//     }
//   }

//   p.web-app-description {
//     padding: 8px;
//     text-align: justify;
//     line-height: 30px;
//   }
// }

// main {
//   min-height: 50vh;
// }

// .inputs-container {
//   background-color: #e7e7e7;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   padding: 20px 5px;

//   // ----------------------------------------
//   // 2.1.1) User destination
//   // ----------------------------------------
//   .destination-div {
//     display: flex;
//     justify-content: center;
//     gap: 5px;

//     // Label destination
//     .label-destination {
//       width: 50%;
//       text-align: right;
//       font-weight: bold;
//       font-size: 20px;
//     }

//     // Input destination
//     #input-destination {
//       width: 50%;
//       background-color: transparent;
//       border: none;

//       color: #555555;
//       font-weight: bold;
//       font-family: "Montserrat", sans-serif;
//       font-size: 20px;

//       &::placeholder {
//         color: #555555;
//         font-weight: bold;
//         font-family: "Montserrat", sans-serif;
//         font-size: 20px;
//       }
//     }
//   }

//   // ----------------------------------------
//   // 2.1.2) User dates
//   // ----------------------------------------
//   .date-div {
//     display: flex;
//     justify-content: center;
//     gap: 5px;

//     // start and end dates
//     .start-date-div,
//     .end-date-div {
//       display: flex;
//       justify-content: center;
//       gap: 8px;

//       // label
//       .label-start-date,
//       .label-end-date {
//         font-weight: bold;
//         font-size: 16px;
//       }

//       // input
//       #input-start-date,
//       #input-end-date {
//         color: #555555;
//         font-weight: bold;
//         font-family: "Montserrat", sans-serif;
//         font-size: 16px;
//         text-transform: uppercase;

//         background-color: transparent;
//         border: none;

//         &::-webkit-calendar-picker-indicator {
//           margin-left: -10px;
//         }
//       }
//     }
//   }

//   .trip-cards {
//     display: flex;
//     flex-direction: column;
//   }

//   .trip-card {
//     display: flex;
//     flex-direction: column;
//     background-color: #d4f5d5;
//     border: 1px solid black;

//     // ----------------------------------------
//     // 2.2.2) trip card info
//     // ----------------------------------------
//     .trip-card-info {
//       padding: 6vw;

//       p {
//         margin: 0;
//         line-height: 25px;
//       }

//       // 2.2.2.2) trip-card-info-stats
//       .trip-card-info-stats {
//         padding: 15px 0;
//       }

//       // 2.2.2.3) trip-card-info-weather
//       .trip-card-info-weather .info-weather {
//         font-size: 14px;
//         line-height: 18px;
//         padding-left: 15px;
//       }
//     }

//     // ----------------------------------------
//     // 2.2.3) trip card buttons
//     // ----------------------------------------
//     .trip-card-buttons {
//       display: flex;
//       flex-direction: column;
//       gap: 8px;
//       padding: 8px 8px 15px;

//       // Divs
//       .div-button {
//         display: flex;
//         flex-direction: column;
//         gap: 4px;
//       }

//       // Buttons
//       button {
//         font-size: 16px;
//         border: none;
//         border-radius: 10px;
//         background-color: #1a8b1d;
//         color: #fff;
//         padding: 3px;
//         letter-spacing: normal;
//         transition: letter-spacing 0.3s;

//         // Add '+' symbol
//         &::after {
//           content: "\002B";
//           float: right;
//           transform: scale(1.5);
//           padding-right: 5%;
//         }

//         // Add '-' symbol
//         &.active_btn::after {
//           content: "\2212";
//           float: right;
//           transform: scale(1.5);
//         }

//         // Style remove button differently
//         &[id^="btn-remove-trip"] {
//           background-color: #ad1212;

//           &::after {
//             color: transparent;
//           }
//         }

//         // Hove state
//         &:hover {
//           letter-spacing: 3px;
//           transition: 0.3s;
//           font-weight: bold;
//           color: #000;
//         }
//       }
//     }
//   }

//   // ********************************************************************************
//   // --------------------------------------------------------------------------------
//   // X.) FOOTER
//   // --------------------------------------------------------------------------------
//   // ********************************************************************************

//   // ********************************************************************************
//   // --------------------------------------------------------------------------------
//   // X.) MEDIA QUERIES
//   // --------------------------------------------------------------------------------
//   // ********************************************************************************

//   // --------------------------------------------------------------------------------
//   // X.1) Small phones: CSS rules for screen widths smaller than 410px
//   // --------------------------------------------------------------------------------
//   @media (max-width: 410px) {
//     .inputs-container {
//       // ----------------------------------------
//       // User destination
//       // ----------------------------------------
//       .destination-div {
//         // Label destination
//         .label-destination {
//           font-size: 18px;
//         }

//         // Input destination
//         #input-destination {
//           font-size: 18px;

//           &::placeholder {
//             font-size: 18px;
//           }
//         }
//       }

//       // ----------------------------------------
//       // User dates
//       // ----------------------------------------
//       .date-div {
//         // start and end dates
//         .start-date-div,
//         .end-date-div {
//           // label
//           .label-start-date,
//           .label-end-date {
//             font-weight: bold;
//             font-size: 14px;
//           }

//           // input
//           #input-start-date,
//           #input-end-date {
//             font-size: 14px;
//           }
//         }
//       }
//     }
//   }

//   // --------------------------------------------------------------------------------
//   // X.2) iPad: CSS rules for screen widths greater than 700px
//   // --------------------------------------------------------------------------------
//   @media (min-width: 700px) and (max-width: 900px) {
//     body {
//       img {
//         height: 400px;
//       }
//     }

//     .trip-card {
//       display: grid;
//       grid-template-columns: 50% 50%;
//       grid-template-rows: auto auto;
//       grid-template-areas:
//         "img img"
//         "trip-info trip-btn";

//       .trip-card-img {
//         grid-area: img;
//       }

//       .trip-card-info {
//         grid-area: trip-info;
//       }

//       .trip-card-buttons {
//         grid-area: trip-btn;
//         padding: 6vw 2vw;
//         gap: 12px;
//       }
//     }
//   }

//   // --------------------------------------------------------------------------------
//   // X.3) PC: CSS rules for screen widths greater than 900px
//   // --------------------------------------------------------------------------------
//   @media (min-width: 900px) {
//     body {
//       img {
//         border-right: 1px solid black;
//         border-bottom: none;
//         height: 100%;
//         max-height: 670px;
//         vertical-align: bottom;
//       }
//     }

//     .trip-cards {
//       gap: 5px;
//     }

//     .trip-card {
//       display: grid;
//       grid-template-columns: 50% 1fr;
//       grid-template-rows: 250px auto;
//       grid-template-areas:
//         "img trip-info"
//         "img trip-btn";

//       .trip-card-img {
//         grid-area: img;
//       }

//       .trip-card-info {
//         grid-area: trip-info;
//         padding: 1vw 2vw;
//       }

//       .trip-card-buttons {
//         grid-area: trip-btn;
//         padding: 1vw 2vw;
//         gap: 12px;
//       }
//     }
//   }

//   // ----------------------------------------
//   // 2.1.3) Generate trip button
//   // ----------------------------------------
//   .generate-trip-div {
//     text-align: center;

//     #generate-trip-btn {
//       font-size: 20px;
//       border: none;
//       border-radius: 10px;
//       background-color: #1a8b1d;
//       color: #fff;
//       padding: 5px 10px;

//       &:hover {
//         letter-spacing: 3px;
//         transition: 0.3s;
//       }
//     }
//   }
// }

// ********************************************************************************
// --------------------------------------------------------------------------------
// 0.) BODY Styling
// --------------------------------------------------------------------------------
// ********************************************************************************
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  // ----------------------------------------
  // 0.1) Imgs
  // ----------------------------------------
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid black;
  }

  // ----------------------------------------
  // 0.2) References
  // ----------------------------------------
  a {
    text-decoration: none;
    color: inherit;
  }
}

// ********************************************************************************
// --------------------------------------------------------------------------------
// 1.) HEADER Styling
// --------------------------------------------------------------------------------
// ********************************************************************************
header {
  h1 {
    text-align: center;
    letter-spacing: normal;
    transition: letter-spacing 0.5s;

    &:hover {
      color: #1a8b1d;
      letter-spacing: 7px;
      transition: 0.5s;
    }
  }

  p.web-app-description {
    padding: 8px;
    text-align: justify;
    line-height: 30px;
  }
}

// ********************************************************************************
// --------------------------------------------------------------------------------
// 2.) MAIN Styling
// --------------------------------------------------------------------------------
// ********************************************************************************
main {
  min-height: 50vh;
}

// --------------------------------------------------------------------------------
// 2.1) INPUTS CONTAINER
// --------------------------------------------------------------------------------
.inputs-container {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 5px;

  // ----------------------------------------
  // 2.1.1) User destination
  // ----------------------------------------
  .destination-div {
    display: flex;
    justify-content: center;
    gap: 5px;

    // Label destination
    .label-destination {
      width: 50%;
      text-align: right;
      font-weight: bold;
      font-size: 20px;
    }

    // Input destination
    #input-destination {
      width: 50%;
      background-color: transparent;
      border: none;

      color: #555555;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;

      &::placeholder {
        color: #555555;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
      }
    }
  }

  // ----------------------------------------
  // 2.1.2) User dates
  // ----------------------------------------
  .date-div {
    display: flex;
    justify-content: center;
    gap: 5px;

    // start and end dates
    .start-date-div,
    .end-date-div {
      display: flex;
      justify-content: center;
      gap: 8px;

      // label
      .label-start-date,
      .label-end-date {
        font-weight: bold;
        font-size: 16px;
      }

      // input
      #input-start-date,
      #input-end-date {
        color: #555555;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        text-transform: uppercase;

        background-color: transparent;
        border: none;

        &::-webkit-calendar-picker-indicator {
          margin-left: -10px;
        }
      }
    }
  }

  // ----------------------------------------
  // 2.1.3) Generate trip button
  // ----------------------------------------
  .generate-trip-div {
    text-align: center;

    #generate-trip-btn {
      font-size: 20px;
      border: none;
      border-radius: 10px;
      background-color: #1a8b1d;
      color: #fff;
      padding: 5px 10px;

      &:hover {
        letter-spacing: 3px;
        transition: 0.3s;
      }
    }
  }
}

// --------------------------------------------------------------------------------
// 2.2) TRIP CARDS
// --------------------------------------------------------------------------------
.trip-cards {
  display: flex;
  flex-direction: column;
}

.trip-card {
  display: flex;
  flex-direction: column;
  background-color: #d4f5d5;
  border: 1px solid black;

  // ----------------------------------------
  // 2.2.2) trip card info
  // ----------------------------------------
  .trip-card-info {
    padding: 6vw;

    p {
      margin: 0;
      line-height: 25px;
    }

    // 2.2.2.2) trip-card-info-stats
    .trip-card-info-stats {
      padding: 15px 0;
    }

    // 2.2.2.3) trip-card-info-weather
    .trip-card-info-weather .info-weather {
      font-size: 14px;
      line-height: 18px;
      padding-left: 15px;
    }
  }

  // ----------------------------------------
  // 2.2.3) trip card buttons
  // ----------------------------------------
  .trip-card-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px 15px;

    // Divs
    .div-button {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    // Buttons
    button {
      font-size: 16px;
      border: none;
      border-radius: 10px;
      background-color: #1a8b1d;
      color: #fff;
      padding: 3px;
      letter-spacing: normal;
      transition: letter-spacing 0.3s;

      // Add '+' symbol
      &::after {
        content: "\002B";
        float: right;
        transform: scale(1.5);
        padding-right: 5%;
      }

      // Add '-' symbol
      &.active_btn::after {
        content: "\2212";
        float: right;
        transform: scale(1.5);
      }

      // Style remove button differently
      &[id^="btn-remove-trip"] {
        background-color: #ad1212;

        &::after {
          color: transparent;
        }
      }

      // Hove state
      &:hover {
        letter-spacing: 3px;
        transition: 0.3s;
        font-weight: bold;
        color: #000;
      }
    }
  }
}

// ********************************************************************************
// --------------------------------------------------------------------------------
// X.) FOOTER
// --------------------------------------------------------------------------------
// ********************************************************************************

// ********************************************************************************
// --------------------------------------------------------------------------------
// X.) MEDIA QUERIES
// --------------------------------------------------------------------------------
// ********************************************************************************

// --------------------------------------------------------------------------------
// X.1) Small phones: CSS rules for screen widths smaller than 410px
// --------------------------------------------------------------------------------
@media (max-width: 410px) {
  .inputs-container {
    // ----------------------------------------
    // User destination
    // ----------------------------------------
    .destination-div {
      // Label destination
      .label-destination {
        font-size: 18px;
      }

      // Input destination
      #input-destination {
        font-size: 18px;

        &::placeholder {
          font-size: 18px;
        }
      }
    }

    // ----------------------------------------
    // User dates
    // ----------------------------------------
    .date-div {
      // start and end dates
      .start-date-div,
      .end-date-div {
        // label
        .label-start-date,
        .label-end-date {
          font-weight: bold;
          font-size: 14px;
        }

        // input
        #input-start-date,
        #input-end-date {
          font-size: 14px;
        }
      }
    }
  }
}

// --------------------------------------------------------------------------------
// X.2) iPad: CSS rules for screen widths greater than 700px
// --------------------------------------------------------------------------------
@media (min-width: 700px) and (max-width: 900px) {
  body {
    img {
      height: 400px;
    }
  }

  .trip-card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "img img"
      "trip-info trip-btn";

    .trip-card-img {
      grid-area: img;
    }

    .trip-card-info {
      grid-area: trip-info;
    }

    .trip-card-buttons {
      grid-area: trip-btn;
      padding: 6vw 2vw;
      gap: 12px;
    }
  }
}

// --------------------------------------------------------------------------------
// X.3) PC: CSS rules for screen widths greater than 900px
// --------------------------------------------------------------------------------
@media (min-width: 900px) {
  body {
    img {
      border-right: 1px solid black;
      border-bottom: none;
      height: 100%;
      max-height: 670px;
      vertical-align: bottom;
    }
  }

  .trip-cards {
    gap: 5px;
  }

  .trip-card {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 250px auto;
    grid-template-areas:
      "img trip-info"
      "img trip-btn";

    .trip-card-img {
      grid-area: img;
    }

    .trip-card-info {
      grid-area: trip-info;
      padding: 1vw 2vw;
    }

    .trip-card-buttons {
      grid-area: trip-btn;
      padding: 1vw 2vw;
      gap: 12px;
    }
  }
}
